@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: #f5dbae;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/*logo image*/
.logo img {
  float: left;
  margin: 5px 20px;
  width: 80px;
}

/*navigation*/
nav {
  background: #1e0101;
  width: 100%;
  height: 90px;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  margin-top: 25px;
  display: inline-block;
}

nav li a,
nav li {
  font-family: "Oswald", sans-serif;
  font-size: 17px;
  color: white;
  padding: 5px 20px;
}

ul li a {
  transition: all 0.3s ease 0s;
}

a.active,
li a:hover {
  color: #f0e45a;
}

/*mobile navigation burger menu*/
.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 50px;
  margin-right: 20px;
  cursor: pointer;
}

#check,
.checkbtn {
  display: none;
}

@media (max-width: 952px) {
  label.logo {
    padding-left: 20px;
  }
  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    margin-top: 25px;
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #949494;
    top: 90px;
    left: -100%;
    text-align: center;
    transition: 0.5s ease-in-out;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 40px;
  }
  nav ul li a {
    font-size: 30px;
    transition: all 0.3s ease 0s;
  }
  a:hover,
  a.active {
    background: none;
    color: #f0e45a;
  }
  #check:checked ~ ul {
    z-index: 999;
    left: 0;
  }
}

/*blog title*/
.pageheader {
  padding: 50px;
  text-align: center;
  font-size: 30px;
}

/*blog table*/
.container {
  width: 100%;
  padding: 0 100px;
}

.table_container {
  position: relative;
  width: 100%;
  border-collapse: collapse;
}

.table_container th {
  width: 50%;
  padding: 12px 25px;
  border: 4px solid black;
  text-align: center;
}

.table_container td {
  padding: 12px 25px;
  border: 4px solid black;
  text-align: justify;
}

#col1 {
  padding: 12px 100px;
}

td {
  padding: 200px;
}
/*mobile resolution display table*/
@media (max-width: 840px) {
  .table_container thead {
    border: none;
    clip: auto;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .table_container th,
  .table_container td {
    border: none;
  }

  .table_container tr {
    border: 2px solid black;
    display: block;
  }
  .table_container td {
    border: 2px solid black;
    display: block;
    text-align: right;
  }
  .table_container td::before {
    content: attr(data-label);
    float: left;
    text-align: left;
    left: 0;
    font-weight: bold;
  }
}

/*footer*/
.footer {
  margin-top: auto;
  background: #1e0101;
  width: 100%;
}

.left-col {
  margin: 30px 15px;
  font-size: 20px;
  text-decoration: none;
  float: left;
}

.left-col a {
  margin: 20px 5px;
  color: #fff;
}

.left-col a:hover {
  color: #615343;
}

.right-col {
  margin: 30px 15px;
  font-size: 20px;
  float: right;
  width: 250px;
}
